In [1]:
# project: P7
# submitter-netid: kurosu
# partner-netid: nkoo3

In [2]:
import csv
fifa_file = open('Fifa18.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2,6,7,8]:
        row[idx] = float(row[idx])

In [3]:
print(header)
for row in player_data[:5]:
    print(row)

['Id', 'name', 'Age', 'nationality', 'club', 'league', 'euro_wage', 'networth', 'score_of_100']
['20801', 'Cristiano Ronaldo', 32.0, 'Portugal', 'Real Madrid CF', 'Spanish Primera División', 565000.0, 95500000.0, 94.0]
['158023', 'L. Messi', 30.0, 'Argentina', 'FC Barcelona', 'Spanish Primera División', 565000.0, 105000000.0, 93.0]
['190871', 'Neymar', 25.0, 'Brazil', 'Paris Saint-Germain', 'French Ligue 1', 280000.0, 123000000.0, 92.0]
['176580', 'L. Suárez', 30.0, 'Uruguay', 'FC Barcelona', 'Spanish Primera División', 510000.0, 97000000.0, 92.0]
['167495', 'M. Neuer', 31.0, 'Germany', 'FC Bayern Munich', 'German Bundesliga', 230000.0, 61000000.0, 92.0]

In [4]:
#q1
def cell(row_idx, col_name):
    col_idx = header.index(col_name)
    val = player_data[row_idx][col_idx]
    if val == "":
        return None
   
    return val
def agemax():
    age1 = {}
    for i in range(len(player_data)):
            age = cell(i, "Age")
            name = cell(i, "name")
            if not age in age1:
                age1[name] = age
            else:
                age1[name] += age
        
    result = ''
    max_age = 0
    for key in age1:
        ages = age1[key]
        if ages > max_age:
            max_age = ages
            result = key
    return result  

agemax()

'B. Richardson'

In [5]:
#q2
def paymax():
    pay1 = {}
    for i in range(len(player_data)):
            pay = cell(i, "euro_wage")
            name = cell(i, "name")
            if not pay in pay1:
                pay1[name] = pay
            else:
                pay1[name] += pay
        
    result = ''
    max_pay = 0
    for key in pay1:
        pay2 = pay1[key]
        if pay2 > max_pay:
            max_pay = pay2
            result = key
    return result  

paymax()

'Cristiano Ronaldo'

In [6]:
#q3
def NW_max():
    nw1 = {}
    for i in range(len(player_data)):
            nw = cell(i, "networth")
            name = cell(i, "name")
            if not nw in nw1:
                nw1[name] = nw
            else:
                nw1[name] += nw
        
    result = ''
    max_nw = 0
    for key in nw1:
        nw2 = nw1[key]
        if nw2 > max_nw:
            max_nw = nw2
            result = key
    return result  

NW_max()

'Neymar'

In [7]:
#q4
def NW_maxclub():
    nw1 = {}
    for i in range(len(player_data)):
            nw = cell(i, "networth")
            name = cell(i, "name")
            club = cell(i, "club")
            if not nw in nw1:
                nw1[name, club] = nw
            else:
                nw1[name, club] += nw
        
    result = ''
    max_nw = 0
    for key in nw1:
        nw2 = nw1[key]
        if nw2 > max_nw:
            max_nw = nw2
            result = key[-1]
            
    return result  

NW_maxclub()

'Paris Saint-Germain'

In [8]:
#q5
def get_column(col_num, row = -1):
    col = []
    for i in range(len(player_data)):
        col.append(player_data[i][col_num])
    if row == -1:
        return col
    if row != -1:
        return (col[0:row])
get_column(3,5)

['Portugal', 'Argentina', 'Brazil', 'Uruguay', 'Germany']

In [9]:
#q6
f5 = []
for i in range(len(player_data)):
    f5.append(cell(i, "name"))
f5 = sorted(f5)[:5]
f5

['A. Abbas', 'A. Abbas', 'A. Abdallah', 'A. Abdennour', 'A. Abdi']

In [10]:
#q7
total = 0
count = 0
for i in range(len(player_data)):
    total += cell(i, "networth")
    count += 1
total / count

2407282.6149178543

In [11]:
#q8
sum(get_column(2))/len(player_data)

25.133264640219817

In [12]:
#q9
def player_count(country):
    p = 0
    for i in range(len(player_data)):
        if country == cell(i, "nationality"):
            p += 1
    return p

player_count("Portugal")

355

In [13]:
#q10
player_count("Brazil")

800

In [14]:
#q11
def player_countmax():    
    x = []
    for i in range(len(player_data)):
        country = cell(i, "nationality")
        if country not in x and country != None:
            x.append(country)
    
    players1 = {}
    for country in x:
        player = player_count(country)
        if not country in players1:
            players1[country] = player
        else:
            players1[country] += player
    
    result = ''
    max_country = 0
    for key in players1:
        players2 = players1[key]
        if players2 > max_country:
            max_country = players2
            result = key
    
    return result

player_countmax()

'England'

In [15]:
#q12
def player(player_id):
    key = header
    row = []
    stat = {}
    
    for i in range(len(player_data)):
        if player_id == player_data[i][0]:
            row = player_data[i]
    for i in range(len(key)):
        stat[key[i]] = row[i]
    return stat
player("20801")

{'Id': '20801',
 'name': 'Cristiano Ronaldo',
 'Age': 32.0,
 'nationality': 'Portugal',
 'club': 'Real Madrid CF',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 95500000.0,
 'score_of_100': 94.0}

In [16]:
#q13
player("190871")

{'Id': '190871',
 'name': 'Neymar',
 'Age': 25.0,
 'nationality': 'Brazil',
 'club': 'Paris Saint-Germain',
 'league': 'French Ligue 1',
 'euro_wage': 280000.0,
 'networth': 123000000.0,
 'score_of_100': 92.0}

In [17]:
#q14
player("158023")

{'Id': '158023',
 'name': 'L. Messi',
 'Age': 30.0,
 'nationality': 'Argentina',
 'club': 'FC Barcelona',
 'league': 'Spanish Primera División',
 'euro_wage': 565000.0,
 'networth': 105000000.0,
 'score_of_100': 93.0}

In [18]:
#q15
player("192985")

{'Id': '192985',
 'name': 'K. De Bruyne',
 'Age': 26.0,
 'nationality': 'Belgium',
 'club': 'Manchester City',
 'league': 'English Premier League',
 'euro_wage': 285000.0,
 'networth': 83000000.0,
 'score_of_100': 89.0}

In [19]:
#q16
def ppnation():   
    x = []
    for i in range(len(player_data)):
        country = cell(i, "nationality")
        if country not in x and country != None:
            x.append(country)
    
    players1 = {}
    for country in x:
        player = player_count(country)
        if not country in players1:
            players1[country] = player
        else:
            players1[country] += player
    return players1
ppnation()

{'Portugal': 355,
 'Argentina': 948,
 'Brazil': 800,
 'Uruguay': 150,
 'Germany': 1132,
 'Poland': 332,
 'Spain': 995,
 'Belgium': 260,
 'Chile': 367,
 'Croatia': 107,
 'Wales': 122,
 'Italy': 792,
 'Slovenia': 62,
 'France': 962,
 'Gabon': 12,
 'Sweden': 366,
 'Netherlands': 425,
 'Denmark': 343,
 'Slovakia': 64,
 'England': 1582,
 'Colombia': 589,
 'Austria': 262,
 'Greece': 95,
 'Czech Republic': 63,
 'Costa Rica': 29,
 'Armenia': 14,
 'Bosnia Herzegovina': 55,
 'Ivory Coast': 94,
 'Senegal': 126,
 'Switzerland': 228,
 'Morocco': 77,
 'Guinea': 25,
 'Egypt': 20,
 'Algeria': 56,
 'Cameroon': 78,
 'Serbia': 132,
 'Japan': 469,
 'Turkey': 288,
 'Ecuador': 25,
 'Montenegro': 25,
 'Korea Republic': 316,
 'Kenya': 7,
 'Iceland': 52,
 'Mexico': 360,
 'Norway': 329,
 'DR Congo': 57,
 'Ukraine': 49,
 'Russia': 305,
 'Finland': 60,
 'Republic of Ireland': 408,
 'United States': 379,
 'Venezuela': 41,
 'Ghana': 113,
 'Uzbekistan': 5,
 'Nigeria': 126,
 'Canada': 49,
 'Paraguay': 60,
 'Romania': 49,
 'Albania': 35,
 'Burkina Faso': 14,
 'Cape Verde': 22,
 'New Zealand': 30,
 'Northern Ireland': 85,
 'Syria': 4,
 'Scotland': 291,
 'Bulgaria': 20,
 'Peru': 16,
 'Angola': 15,
 'Australia': 222,
 'South Africa': 62,
 'Jamaica': 37,
 'Tunisia': 31,
 'Mozambique': 3,
 'Iran': 17,
 'Mali': 46,
 'Cuba': 2,
 'Hungary': 24,
 'Belarus': 9,
 'Saudi Arabia': 321,
 'Israel': 12,
 'Benin': 14,
 'Georgia': 31,
 'Dominican Republic': 3,
 'Lithuania': 12,
 'Kosovo': 32,
 'Moldova': 6,
 'Togo': 8,
 'FYR Macedonia': 17,
 'Guinea Bissau': 15,
 'Honduras': 13,
 'Congo': 21,
 'Chad': 2,
 'Curacao': 11,
 'Sierra Leone': 9,
 'Gambia': 15,
 'Iraq': 8,
 'Trinidad & Tobago': 9,
 'Zimbabwe': 10,
 'Cyprus': 11,
 'Niger': 3,
 'Liechtenstein': 3,
 'Oman': 1,
 'Tanzania': 2,
 'Zambia': 7,
 'Libya': 2,
 'Haiti': 14,
 'Madagascar': 4,
 'Estonia': 8,
 'Guatemala': 1,
 'New Caledonia': 2,
 'Korea DPR': 6,
 'Bermuda': 4,
 'Comoros': 9,
 'Panama': 16,
 'Palestine': 4,
 'Latvia': 6,
 'Equatorial Guinea': 6,
 'Eritrea': 1,
 'Luxembourg': 8,
 'Kuwait': 2,
 'Suriname': 3,
 'Uganda': 4,
 'Mauritania': 2,
 'El Salvador': 2,
 'Central African Rep.': 4,
 'Azerbaijan': 7,
 'St Kitts Nevis': 3,
 'Fiji': 1,
 'Guam': 1,
 'Lebanon': 5,
 'Qatar': 6,
 'Philippines': 3,
 'China PR': 4,
 'Somalia': 1,
 'Kazakhstan': 3,
 'Bolivia': 2,
 'Montserrat': 4,
 'Ethiopia': 2,
 'Mauritius': 1,
 'Liberia': 2,
 'Puerto Rico': 2,
 'Namibia': 2,
 'Faroe Islands': 6,
 'Guyana': 5,
 'Thailand': 2,
 'Barbados': 1,
 'Antigua & Barbuda': 4,
 'Gibraltar': 2,
 'São Tomé & Príncipe': 1,
 'Grenada': 1,
 'Belize': 1,
 'Burundi': 1,
 'Turkmenistan': 1,
 'Swaziland': 1,
 'Malta': 3,
 'St Lucia': 1,
 'Sudan': 2,
 'Vietnam': 1,
 'Afghanistan': 3,
 'Sri Lanka': 1,
 'Kyrgyzstan': 1,
 'San Marino': 1,
 'Hong Kong': 1}

In [20]:
#q17
def player_countleague(league):
    p = 0
    for i in range(len(player_data)):
        if league == cell(i, "league"):
            p += 1
    return p

def ppleague():   
    x = []
    for i in range(len(player_data)):
        league = cell(i, "league")
        if league not in x and league != None:
            x.append(league)
    
    players1 = {}
    for league in x:
        player = player_countleague(league)
        if not league in players1:
            players1[league] = player
        else:
            players1[league] += player
    return players1

ppleague()

{'Spanish Primera División': 582,
 'French Ligue 1': 589,
 'German Bundesliga': 523,
 'English Premier League': 634,
 'Italian Serie A': 554,
 'Turkish Süper Lig': 493,
 'Portuguese Primeira Liga': 503,
 'USA Major League Soccer': 624,
 'Russian Premier League': 447,
 'Ukrainian Premier League': 24,
 'Holland Eredivisie': 484,
 'Mexican Liga MX': 515,
 'Argentinian Superliga': 771,
 'Japanese J1 League': 518,
 'Belgian First Division A': 430,
 'Czech Liga': 27,
 'Saudi Professional League': 405,
 'Greek Super League': 109,
 'Swiss Super League': 257,
 'Colombian Primera A': 551,
 'English Championship': 706,
 'Spanish Segunda División': 624,
 'Chilian Primera División': 320,
 'Campeonato Brasileiro Série A': 320,
 'Swedish Allsvenskan': 385,
 'South African PSL': 51,
 'French Ligue 2': 535,
 'Scottish Premiership': 310,
 'Australian A-League': 226,
 'German 2. Bundesliga': 509,
 'Austrian Bundesliga': 255,
 'Polish Ekstraklasa': 414,
 'Italian Serie B': 618,
 'Korean K League Classic': 322,
 'Danish Superliga': 362,
 'Norwegian Eliteserien': 392,
 'English League One': 641,
 'German 3. Liga': 513,
 'English League Two': 615,
 'Finnish Veikkausliiga': 27,
 'Rep. Ireland Premier Division': 284}

In [21]:
#q18
def player_pay(league):
    y = {}
    c = {}
    for i in range(len(player_data)):
        if league == cell(i, "league"):
            pay = cell(i, "euro_wage")
            if not league in y:
                y[league] = pay
                c[league] = 1
            else:
                y[league] += pay
                c[league] += 1
    for key in y:
        avg = y[key]/c[key]
        return avg

def payperleague():   
    x = []
    for i in range(len(player_data)):
        league = cell(i, "league")
        if league not in x and league != None:
            x.append(league)
    
    players1 = {}
    for league in x:
        playerpay = player_pay(league)
        if not league in players1:
            players1[league] = playerpay
        else:
            players1[league] += playerpay
    return players1

payperleague()

{'Spanish Primera División': 37104.810996563574,
 'French Ligue 1': 20843.803056027165,
 'German Bundesliga': 31177.820267686424,
 'English Premier League': 58705.047318611985,
 'Italian Serie A': 35981.94945848375,
 'Turkish Süper Lig': 16582.150101419877,
 'Portuguese Primeira Liga': 7570.576540755467,
 'USA Major League Soccer': 4052.8846153846152,
 'Russian Premier League': 19612.97539149888,
 'Ukrainian Premier League': 1000.0,
 'Holland Eredivisie': 6842.975206611571,
 'Mexican Liga MX': 14885.436893203883,
 'Argentinian Superliga': 6832.684824902723,
 'Japanese J1 League': 3030.8880308880307,
 'Belgian First Division A': 8953.488372093023,
 'Czech Liga': 1000.0,
 'Saudi Professional League': 8928.395061728395,
 'Greek Super League': 1000.0,
 'Swiss Super League': 6774.31906614786,
 'Colombian Primera A': 1916.5154264972778,
 'English Championship': 16702.54957507082,
 'Spanish Segunda División': 5915.0641025641025,
 'Chilian Primera División': 4800.0,
 'Campeonato Brasileiro Série A': 15515.625,
 'Swedish Allsvenskan': 2218.181818181818,
 'South African PSL': 1000.0,
 'French Ligue 2': 3330.841121495327,
 'Scottish Premiership': 7154.8387096774195,
 'Australian A-League': 3092.920353982301,
 'German 2. Bundesliga': 7766.2082514734775,
 'Austrian Bundesliga': 6054.901960784314,
 'Polish Ekstraklasa': 3190.8212560386473,
 'Italian Serie B': 3788.0258899676373,
 'Korean K League Classic': 3043.478260869565,
 'Danish Superliga': 5102.209944751381,
 'Norwegian Eliteserien': 1936.2244897959183,
 'English League One': 3663.0265210608422,
 'German 3. Liga': 1136.4522417153996,
 'English League Two': 3068.2926829268295,
 'Finnish Veikkausliiga': 1000.0,
 'Rep. Ireland Premier Division': 1049.2957746478874}

In [22]:
#q19
def player_age(league):
    y = {}
    c = {}
    p = 0
    for i in range(len(player_data)):
        if league == cell(i, "league"):
            age = cell(i, "Age")
            if not league in y:
                y[league] = age
                c[league] = 1
            else:
                y[league] += age
                c[league] += 1
    for key in y:
        avg = y[key]/c[key]
        return avg

def ageperleague():   
    x = []
    for i in range(len(player_data)):
        league = cell(i, "league")
        if league not in x and league != None:
            x.append(league)
            
    players1 = {}
    for league in x:
        playerage = player_age(league)
        players1[league] = playerage
    return players1

ageperleague()

{'Spanish Primera División': 25.015463917525775,
 'French Ligue 1': 24.31239388794567,
 'German Bundesliga': 24.137667304015295,
 'English Premier League': 24.832807570977916,
 'Italian Serie A': 25.21119133574007,
 'Turkish Süper Lig': 26.4868154158215,
 'Portuguese Primeira Liga': 25.05765407554672,
 'USA Major League Soccer': 26.009615384615383,
 'Russian Premier League': 25.55704697986577,
 'Ukrainian Premier League': 25.958333333333332,
 'Holland Eredivisie': 23.264462809917354,
 'Mexican Liga MX': 25.833009708737865,
 'Argentinian Superliga': 25.325551232166017,
 'Japanese J1 League': 26.65057915057915,
 'Belgian First Division A': 24.05581395348837,
 'Czech Liga': 27.333333333333332,
 'Saudi Professional League': 25.760493827160495,
 'Greek Super League': 25.339449541284402,
 'Swiss Super League': 24.136186770428015,
 'Colombian Primera A': 25.76043557168784,
 'English Championship': 24.923512747875353,
 'Spanish Segunda División': 25.05128205128205,
 'Chilian Primera División': 28.975,
 'Campeonato Brasileiro Série A': 28.975,
 'Swedish Allsvenskan': 24.97142857142857,
 'South African PSL': 26.80392156862745,
 'French Ligue 2': 24.82429906542056,
 'Scottish Premiership': 24.625806451612902,
 'Australian A-League': 25.52654867256637,
 'German 2. Bundesliga': 24.557956777996072,
 'Austrian Bundesliga': 24.094117647058823,
 'Polish Ekstraklasa': 25.70048309178744,
 'Italian Serie B': 25.042071197411005,
 'Korean K League Classic': 26.267080745341616,
 'Danish Superliga': 24.26795580110497,
 'Norwegian Eliteserien': 24.252551020408163,
 'English League One': 24.279251170046802,
 'German 3. Liga': 24.142300194931774,
 'English League Two': 24.357723577235774,
 'Finnish Veikkausliiga': 23.59259259259259,
 'Rep. Ireland Premier Division': 24.010563380281692}

In [23]:
#q20
def mageperleague():   
    x = []
    for i in range(len(player_data)):
        league = cell(i, "league")
        if league not in x and league != None:
            x.append(league)
    
    players1 = {}
    for league in set(x):
        playerage = player_age(league)
        players1[league] = playerage
    result = ''
    max_age = 0
    for i in players1:
        a = players1[i]
        if a >= max_age:
            max_age = a
            result = i
            
    return result

mageperleague()

'Campeonato Brasileiro Série A'